<p id="notice"><%= notice %></p>

<h1>Medicaments </h1>

<%= form_for :medicament do |f| %>

  <p>
    <%= f.label :"Name Of Medicament" %><br>
    <%= f.text_field :NameOfMedicament%>
  </p>

  <p>
    <%= f.label :"Code of Medicament" %><br>
    <%= f.text_field :IdMedicament%>
  </p>

  <p>
    <%= f.label :"Daily Dose" %><br>
    <%= f.text_field :DailyDose %>
  </p>

  <p>
    <%= f.submit %>
  </p>



<% end %>

<%= link_to 'User ROot path', user_root_path %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
